{% extends "base.html" %}

{% block title %}Product List{% endblock %}

{% block head_extra %}

{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="mb-4">Our Products</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}